<footer id="footer">
        
    <div class="laberFooter-top ">

<div class="container d-flex flex-row justify-content-around justify-content-around ">
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 content-footer align-center">
  <!-- Static Block module -->
      <div class="laber-footer-before col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h5>Про компанію</h5>
<button class="bcg_none" (click)="scroll()"><span>Історія компанії</span></button>
<span>Більше 4 років на ринку у Львові</span>
</div>
          <div class="laber-footer-before col-lg-4 col-md-4 col-sm-12 col-xs-12">
<h5>Інформація</h5>
<p>Контакти: </p>
<a  href="tel:093-1543760">093-1543760</a> 
<a  href="tel:067-3085813">067-3085813</a> 
</div>
          
<!-- /Static block module -->
</div>
</div>
</div>
</div>
<div class="laberFooter-bottom">
<div class="container">
  <div class=" icon_container d-flex flex-row">
      <div class="copyright col-lg-12">
 <a class="social" href="https://www.instagram.com/fortunate.kelton/?hl=uk" target="_blank"><i class="fa fa-instagram"></i></a>
<p>© 2020&nbsp;<span>KELTON ЛЬВІВ </span></p>
</div>
  </div>
</div>
<div>
</div>
</div>

 

      
  
</footer>