<div class="caros">
  <carousel>
    <slide>
      <img class="mainImg compt" src="../../../assets/e25fb9a2c8770bae6dbac403c0904e8f0b170e91_banner1home2.jpg" alt="first slide" >
      <img class="mainImg mobile" src="../../../assets/main.jpg" alt="first slide" >
      
      <div class=" carousel-caption d-none d-md-block bonslick-caption col-xs-12 col-sm-8">
        <h1>Нові колекції <br> 2020</h1>
    </div>
    
    </slide>
    <slide>
      <img class="mainImg" src="../../../assets/d70f0180c056755153f0bde47d4d12e05444a9a5_banner1home.jpg" alt="second slide" style="display: block; width: 100%;">
      
      <div class="carousel-caption d-none d-md-block">
      </div>
    </slide>
  </carousel>
</div>

<div class="text_center d-flex" >
    <div class="text">
        <p class="justify">
            Компанія Kelton була заснована в 1975 році братами П'єроні - Савуро і Джузеппе. Kelton - єдина команда, сорокарічний успіх якої пояснюється шанобливим ставленням до клієнтів і бездоганною якістю взуття. Головна особливість взуття Kelton - анатомічно правильна танкетка з спіненого поліуретану, завдяки чому взуття легка, комфортна і надійно захищає від холоду.
Сьогодні модне взуття Kelton, як і чотири десятиліття назад, виготовляється виключно з натуральних матеріалів і тільки в Італії. Дизайн взуття розробляється ексклюзивно і втілює в собі актуальні тенденції світу моди. Логотип компанії - колесо і два крила, які символізують комфорт, легкість і свободу.
        </p>
    </div> </div>
    <div class="images d-flex flex-row justify-content-around ">
        <img class="img_baner" src="../../../assets/banner1.jpg" alt="">
        <img class="img_baner" src="../../../assets/banner2.jpg" alt="">
        <img class="img_baner" src="../../../assets/banner3.jpg" alt="">
    </div>  
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-us-homepage">
                <div class="spacer s2"></div>
                <div class="box1 col-lg-6 col-md-6 col-sm-12 align-center border-right">
                <h2>Потрібна допомога?</h2>
                <p>Зателефонувати: </p><a class="btn btn-primary add-to-cart bcg mt" href="tel:093-1543760">093-1543760</a> 
                </div>
                <div class="box1 col-lg-6 col-md-6 col-sm-12 align-center">
                <h2>Надішліть нам email</h2>
                <p>Ми відповімо впродовж дня</p>
                <a class="btn btn-primary add-to-cart" href="mailto:Jura04041988@gmail.com">Написати</a></div>
                </div>
          </div>
